







# Ignorer le dossier third_party
/application/libraries/
/uploads/install.sql

# Ignorer les fichiers de configuration sensibles
#application/config/database.php


# Ignorer les fichiers spécifiques à l'IDE
.idea/
*.sublime-project
*.sublime-workspace
.vscode/
*.code-workspace


